# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Ignore node modules
node_modules/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore VSCode settings
.vscode/
